body{
  margin: 0 !important;
}

main{
  background-color: #F2F5FF;
  min-height: 100vh;
}

.swal2-container {
  z-index: 1400 !important;
}

.input-tondi{
  border-radius: 11px;
  background-color: #dedede30;
  box-shadow: 0px 4px 10px 0px #00000045;

  fieldset {
    border: none;
  }
}

.custom-dialog .MuiPaper-root {
  border-radius: 32px !important;
  padding: 1rem !important;
}

.input-login{
  border-radius:50px;
  background-color: #dedede30;
  box-shadow: 0px 4px 10px 0px #00000045;

  fieldset {
    border: none;
  }
}

.btn-save, .btn{
  &.MuiButton-root,
  &.MuiButton-root:hover,
  &.MuiButton-contained,
  &.MuiButton-text {
    background-color: #4C57E5;
    color: #fff;
    border-radius: 50px;
    width: fit-content;
    padding: .5em 3em;
    text-transform: none;
    box-shadow: 0px 4px 10px 0px #00000045;
    font-weight: bold;
  }
}

.btn-elimina-selezionati{
  &.MuiButton-root,
  &.MuiButton-root:hover,
  &.MuiButton-contained,
  &.MuiButton-text {
  margin-bottom: 1em;
  border-radius: 50px;
  }
}

.btn-save{
  &.MuiButton-text {
    margin: 2em auto;
  }
}

.btn-neg{
  &.MuiButton-root,
  &.MuiButton-root:hover,
  &.MuiButton-contained,
  &.MuiButton-text {
    background-color: #fff;
    color: #4C57E5;
    border-radius: 50px;
    width: fit-content;
    padding: .5em 3em;
    text-transform: none;
    box-shadow: 0px 4px 10px 0px #00000045;
    font-weight: bold;
  }
}

.logo-login-ccdd{
  a{
    display: flex;
    align-items: center;
    justify-content: right;
  }

  img{    
    max-width: 200px;
    margin: 0 0 0 1em;
  }
}


// Override MUI Tabs indicator color --> tab dettaglio clienti
.MuiTabs-indicator {
  background-color: #4C57E5 !important;
}

// Override MUI Tab selected text color --> tab dettaglio clienti
.MuiTab-root.Mui-selected {
  color: #4C57E5 !important;
}